.bathroomType {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.bathroomType .buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bathroomType .checkboxes {
    margin-top: 10px; 
}